{% extends "base.html" %}
{% block titulo %}Mural{% endblock %}
{% block cabecalho %}Mural do Bate-Boca{% endblock %}
{% block descricao %}Discuta ideias com qualquer pessoa.{% endblock %}

{% block mur %}active{% endblock %}

{% block conteudo %}
{{ super() }}
<div class="container">
    <form action="/baterboca" method="post">
        <input type="text" placeholder="desabafe" name="comentario">
        <input type="submit" value="comentar">
    </form>
</div>
<div class="container">
    {% for k in d: %}
    <b>{{ d[k]['nome'] }}</b> disse: {{ d[k]['fala'] }}
    <hr>
    {% endfor %}
</div>
{% endblock %}
